if SHIELD_TOMAK79_LEFT || SHIELD_TOMAK79_RIGHT || SHIELD_TOMAK79_DONGLE || SHIELD_TOMAK79_DONGLE_SSD1306_BLOCK || SHIELD_TOMAK79_DONGLE_ST7789_TEST || SHIELD_TOMAK79_DONGLE_YADS

config ZMK_KEYBOARD_NAME
    default "Tomak79"

config ZMK_SPLIT
    default y

if ZMK_DISPLAY && (SHIELD_TOMAK79_DONGLE || SHIELD_TOMAK79_DONGLE_SSD1306_BLOCK)

config I2C
    default y

config SSD1306
    default y

endif # ZMK_DISPLAY && SSD1306 shields

if LVGL && (SHIELD_TOMAK79_DONGLE || SHIELD_TOMAK79_DONGLE_SSD1306_BLOCK)

config LV_Z_VDB_SIZE
    default 64

config LV_DPI_DEF
    default 148

config LV_Z_BITS_PER_PIXEL
    default 1

choice LV_COLOR_DEPTH
    default LV_COLOR_DEPTH_1
endchoice

endif # LVGL && SSD1306 shields

endif
